body {
    text-align: center;
    background-color: rgb(163, 204, 255);
}
input[type="text"],
input[type="range"] {
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.wrapper{
    margin-top: 100px;
}
/*model start*/
.model{
    margin-bottom: 131px;
}
.model-wrap{
    max-width: 1262px;
    margin: 0 auto;
    padding: 30px 40px;
    background-color: aliceblue;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.model__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.model__title{
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-size: 35px;
    line-height: 42px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
.model__card{
    align-items: center;
    grid-column: span 1;
    margin-bottom: 112px;
}
.model__card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.model__card-thumb{
    display: block;
}
.model__card-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lato';
    font-style: normal;
    margin-bottom: 26px;
}
.model__card-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.model__card-more{  
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(/qyea/summerCode/JapenWeb/img/svg/arrow.svg) no-repeat 95% center;
    transition: 0.2s;
}
.model__card-more:hover, .model__card-more:focus{
    background: url(/qyea/summerCode/JapenWeb/img/svg/arrow.svg) no-repeat right center;
}
.model-label{
    font-family: 'Lato';
    font-size: 16px;
}
.preview{
    display: flex;
    justify-content: center;
}
.color-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.color-preview {
    width: 200px;
    height: 200px;
    border: 2px solid #062a5a;
}
.color-inputs {
    display: flex;
    flex-direction: column;
}
.sliders {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.picker-title{
    font-family: 'Lato';
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 20px;
}
.color-input{
    padding: 5px 20px;

    font-family: 'Lato';
    font-size: 16px;

    border-color: #006DFE;
    border-radius: 5px;
}
#color-picker{
    width: 100px;
    height: 100px;  
}
/*model end*/